WebServiceClient/web/WEB-INF/wsdl/localhost_8080/AirlineSystemGlass/SeatPrice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="SeatPrice">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8080/AirlineSystemGlass/SeatPrice?xsd=1"/>
</xsd:schema>
</types>
<message name="NoOfSeats">
<part name="parameters" element="tns:NoOfSeats"/>
</message>
<message name="NoOfSeatsResponse">
<part name="parameters" element="tns:NoOfSeatsResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="GetPrice">
<part name="parameters" element="tns:GetPrice"/>
</message>
<message name="GetPriceResponse">
<part name="parameters" element="tns:GetPriceResponse"/>
</message>
<portType name="SeatPrice">
<operation name="NoOfSeats">
<input wsam:Action="http://WebServices/SeatPrice/NoOfSeatsRequest" message="tns:NoOfSeats"/>
<output wsam:Action="http://WebServices/SeatPrice/NoOfSeatsResponse" message="tns:NoOfSeatsResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://WebServices/SeatPrice/helloRequest" message="tns:hello"/>
<output wsam:Action="http://WebServices/SeatPrice/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="GetPrice">
<input wsam:Action="http://WebServices/SeatPrice/GetPriceRequest" message="tns:GetPrice"/>
<output wsam:Action="http://WebServices/SeatPrice/GetPriceResponse" message="tns:GetPriceResponse"/>
</operation>
</portType>
<binding name="SeatPricePortBinding" type="tns:SeatPrice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="NoOfSeats">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SeatPrice">
<port name="SeatPricePort" binding="tns:SeatPricePortBinding">
<soap:address location="http://localhost:8080/AirlineSystemGlass/SeatPrice"/>
</port>
</service>
</definitions>